.footer{
    background-color: var(--main-color);
            color: var(--text-color);
    .my-p{
        line-height: 30px;
        font-size: .9rem;
    }
    ul{
        display: flex;
        justify-content: center;
        column-gap: 40px;
        li{
            cursor: pointer;
        }
        i{
            font-size: 1.4rem;
        }
    }
    .special-ui{
        
        i{
            font-size: 1rem;
        }
    }
}